* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

html body{
  width: 100vw;
}
ul a:hover{
  color: #f3613c;
}
ul{
  list-style: none;
}
/* .................menu de navegacion.................. */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
}
header nav {
  flex-basis: 40%;
}
header ul {
  display: flex;
  justify-content: space-evenly;
 }

header ul li a {
  display: block;
  color:#232c50;
}
#menu, #menuhamburguesa {
  display: none;
}


/* ..........main section 1 ................*/
html{
  background-image:url(/imagenes/bg-tablet-pattern.svg);
  background-size: auto ;
}
.contenedor1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
}
.titulo {
  width: 370px;
}
h1 {
  font-size: 3em;
  color: #232c50;
}
.titulo p {
  padding: 3% 0%;
  font-size: 1em;
  width: 280px;
}
.imgtitulo {
  width: 380px;
}
.imgtitulo img {
  width: 100%;
}

/* ............main section 2............ */
.contenedor2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5%;
  flex-wrap: wrap;
}
.parrafo2 {
  width: 370px;
}
.parrafo2 h2 {
  font-size: 2em;
  color: #232c50;
}
.contenedor2lista {
  width: 370px;
  color: #232c50;
}
.contenedor2lista p{
  padding-left: 60px;
  
  
}
.contenedor2lista ul li {
  font-weight: bold;
  padding: 5% 0%;
}
.contenedor2lista ul li img{
width: 50px;
}

/* ............main section 3........*/
.contenedor3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0%;
  color: #232c50;
}
.tarjetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}
.cars {
  width: 350px;
  text-align: center;
  margin: 10px;
}
/* .......main footer..... */
.footermain {
 
  background-color: #f3613c;
}
#footermain{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-image: url(/imagenes/bg-simplify-section-desktop.svg);
  background-size:80%;
  background-position:bottom}
.footermain h2 {
  color: aliceblue;
  width: 300px;
}
/* .....pie de pagina..... */
.piedepag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1e26;
  color: #ffffff;
  padding: 2%;
}
.piedepag ul {
  list-style: none;
}
.piedepag a{
  color: #ffffff;
}
.logospiedepag img{
    padding-bottom: 10%;
    margin: 3px;
}
.logospiedepag div ul{
 display: flex;
 justify-content: space-between;
 font-size: 25px;
}
#email{
  border-radius: 20px;
  padding: 3px;
  border: #ffffff;
}
#enviar{
  border-radius: 10px;
  border: #f3613c;
  padding: 5px;
  width: 35px;
  background-color: #f3613c;
  color: #ffffff;
}
#enviar:hover{
  background-color:#f3613c9a;
  
}
#email:hover{

  border: solid 3px #f3613c;
  background-color: #e0ddddfb;;
}
#email:focus{
  border: solid 5px #f3613c;
  font-size: medium;
}
/* .............botones......... */
button{
    border-radius: 20px;
    border: #f3613c;
    padding: 5px;
    background-color: #f3613c;
    box-shadow: 1.5px 3px 10px 4px #afabaac0;;
}
button a{
    color: #ffffff;
}
#botonfooter{
    background-color: #ffffff;

}
#botonfooter a{
    color: #f3613c;
    font-weight: bold;
}
#botonfooter:hover{
  background-color: #232c50;
}
#botonfooter a:hover{
  color: #fcf8f7;
}
button:hover{
  background-color: #f3613c9a;
} 

@media screen and (max-width: 480px) {
header button{
    display: none;
  }

  #menuhamburguesa{
  display: flex;
  position: relative;
  z-index: 100;
}
#menuhamburguesa:hover{
  cursor: pointer;
}
  header div{display: flex;
    justify-content: end;
   
  }
  header nav ul{
    margin-right: 20px;
    flex-direction: column;
    text-align: center;
    background-color: #f3613c;
    
  }
  header nav{
    position:absolute;
     display: none; 
  }
header nav ul li a{
  color: #fcf8f7;
  font-weight: bold;
  border-bottom: solid 1px #531f12;
  padding: 5px;
}
#menu:checked ~ nav{
  display: flex;
}
main{
  
  justify-content: center;
}
.piedepag{
  flex-direction: column-reverse;
  align-items: center;
  justify-content:space-evenly
}
}